<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy;
                        <script type="text/javascript"> Date.now() </script>
                        Kamet Yazılım. Tüm hakları saklıdır.</small>
                </p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="https://www.twitter.com/kametguler"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/kamet.guler.1"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                </ul>
                </p>
            </div>
        </div>

    </div>
</footer>


