{% extends 'layout.html' %}
{% load static %}
{% load mathfilters %}
{% block head_title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <div id="fh5co-product">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                        <div class="item">
                            <div class="active text-center">
                                <figure>
                                    <img src="{% static 'images/product-single-1.jpg' %}" alt="user">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="row animate-box">

                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>{{ object.name }}</h2>
                            {% include 'forms/add_to_cart.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="fh5co-tabs animate-box">

                        <!-- Tabs -->
                        <div class="container flex-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab"
                                                                          data-toggle="tab">Yazılım Detayları</a></li>
                                <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab"
                                                           data-toggle="tab">Kurulumu</a></li>
                                <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab"
                                                           data-toggle="tab">Geri Dönüşleri</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab1">
                                    <h3>Yazılım Detayları</h3>
                                    {{ object.description }}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab2">
                                    <h3>Kurulumu</h3>
                                    {{ object.installation }}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab3">
                                    <h3>İncelemeler</h3>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-group">
                                                    {% for feedback in feedbacks %}
                                                        <li class="list-group-item">
                                                            <h5>{{ feedback.customer.email }}</h5>
                                                            <p>{{ feedback.comment }}</p>
                                                            <p>{{ feedback.rating }} / 5 yıldız</p>
                                                        </li>
                                                    {% empty %}
                                                        <p>Henüz inceleme yok</p>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container mt-5">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">

                                                {% if user.is_authenticated %}
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="message">Feedback verin.</label>
                                                            {{ form.comment }}
                                                        </div>
                                                        <div class="stars form-group">
                                                        <span class="star" style="color:#fdfd00" data-star="1"><i
                                                                class="icon-star"></i></span>
                                                            <span class="star" style="color:#fdfd00" data-star="2"><i
                                                                    class="icon-star"></i></span>
                                                            <span class="star" style="color:#fdfd00" data-star="3"><i
                                                                    class="icon-star"></i></span>
                                                            <span class="star" style="color:#fdfd00" data-star="4"><i
                                                                    class="icon-star"></i></span>
                                                            <span class="star" style="color:#fdfd00" data-star="5"><i
                                                                    class="icon-star"></i></span>
                                                        </div>
                                                        {{ form.rating }}
                                                        {#                                                    <input type="hidden" name="{{ form.rating.name }}"#}
                                                        {#                                                           id="{{ form.rating.id }}"#}
                                                        {#                                                           value="{{ form.rating.value }}">#}
                                                        <button type="submit" class="btn btn-primary">Gönder</button>
                                                    </form>
                                                {% else %}
                                                    <h6>Yorum yapabilmek için <a
                                                            href="{% url 'account_login' %}">giriş</a>
                                                        yapmalısınız.</h6>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block add_js %}
    <script>
        $('#submit-btn').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/sepete-ekle/{{ object.id }}/',
                method: 'POST',
                data: $('#form-id').serialize(),
                success: function (response) {
                    $('#result-message').text(response.message);
                    $('#result-popup').addClass("alert alert-" + response.status)
                    $('#result-popup').fadeIn();
                    setTimeout(function () {
                        $('#result-popup').fadeOut();
                    }, 3000);
                },
                error: function (response) {
                    $('#result-message').text("Bir hata ile karşılaşıldı, daha sonra tekrar deneyiniz.");
                    $('#result-popup').addClass("alert alert-danger")
                    $('#result-popup').fadeIn();
                    setTimeout(function () {
                        $('#result-popup').fadeOut();
                    }, 3000);
                }
            });
        });

        $('.star').on('click', function () {
            var selectedStar = $(this).data('star');
            $('#id_rating').val(selectedStar);
            $('.star').removeAttr("style");
            for (var i = 1; i <= selectedStar; i++) {
                $('.star[data-star="' + i + '"]').attr("style", "color:#fdfd00;");
            }
        });

    </script>
{% endblock %}