{% extends 'partials/sidebar.html' %}
{% block profile_body %}
    {% load i18n %}

    {% block head_title %}Profilim - {% trans "Change Password" %}{% endblock %}

    <div style="margin-top: 50px; margin-bottom: 50px;">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock %}